marioFont {
  font-family: 'Super Mario Bros Title Font V2';
  src: url("/fonts/Mario.ttf");
  font-size: 80px;
}

notice {
	font-size: 12px;
}

sizer {
	font-size: 40px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

tbody {
  background-color: rgba(0, 0, 0, 0.575);
}

a:link {
  color: rgb(141, 213, 255);
  background-color: transparent;
  text-decoration: underline;
}

.tbcenter {
  margin-left: auto;
  margin-right: auto;
}

body {
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: #000;
    background-image: url(background.png);
    background-attachment: scroll;
    background-position: bottom;
    background-size: 512px 512px;
    image-rendering: pixelated;
	  text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI';
    color: #fff;
    font-smooth: never;
    -webkit-font-smoothing: none
}
